* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

a {
    text-decoration: none;
}

ul, ol,  li {
    list-style: none;
}

html, body{
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100vw;
    background-color: #333;
    padding: 32px;
    z-index: 100;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav a{
    color: white;
    transition: 1s;
}

header nav a:hover{
    background-color: gray;
    padding: 8px;
}

.grupo {
    height: 100vh;
}

#gumball {
    background-color: #72cae6;
    display: flex;
}

.img-gumball{
    display: flex;
    height: 75%;
    width: 30%;
    margin: auto;
    margin-left: 60px;
}

.titulo-gumball {
    color: rgb(46, 121, 146);
    display: flex;
    position: relative;
    transform: translateX(-100%);
    left: 35%;
    height: 140px;
    width: 800%;
    margin-top: 11%;
}

.texto-gumball {
    display: flex;
    left: 35%;
    transform: translateX(-69.5%);
    width: 1000%;
    height: 30%;
    margin-top: 550px;
}

.texto-gumball p{
    color: #a56654;
    font-size: 55px;
}

.titulo-gumball h1{
    font-size: 110px;
}

#darwin {
    background-color: #FF740F;
}

#anais {
    background-color: #fabdc1;
}

#nicole {
    background-color: #58d5ed;
}

#ricardo {
    background-color: #fbc7ce;
}